<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
	<title>List of RPCs</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css"
	      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<script th:src="@{/javascript/outletlist.js}"></script>
    </head>
    <body>
	<div class="container">
	    <div class="row">
		&nbsp;
	    </div>
	    <div class="row">
		<div class="col-xs-12">
		    <div class="panel panel-default">
			<div class="panel-content">
			    <div class="container-fluid" th:if="${outletlist != null}">
				<table class="table table-hover table-responsive">
				    <thead>
					<tr>
					    <td>ID</td>
					    <td>Name</td>
					    <td>Status</td>
					</tr>
				    </thead>
				    <tbody>
					<tr th:each="outlet  : ${outletlist}">
					    <td th:text="${outlet.id}">ID</td>
					    <td th:text="${outlet.name}">Name</td>
					    <td th:if="${outlet.status}" ><span class="text-success">On</span></td>
					    <td th:unless="${outlet.status}"><span class="text-danger">Off</span></td>
					</tr>
				    </tbody>
				</table>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class='row'>
		<div class="btn-group btn-group-justified">
		    <a class='btn btn-default' th:href="@{/}">Back</a>
		    <div class="btn-group">
			<button id='edit-button' class="btn btn-warning disabled" data-toggle="modal" data-target="#myModal">Edit</button>
		    </div>
		    <div class="btn-group">
			<button id='refresh-button' class='btn btn-primary'>Refresh</button>
		    </div>
		</div>
	    </div>
	    <div class='row'>
		<div class="btn-group btn-group-justified">
		    <div class='btn-group'>
			<button id="on-button" class='btn btn-success disabled'>On</button>
		    </div>
		    <div class='btn-group'>
			<button id="off-button" class='btn btn-danger disabled'>Off</button>
		    </div>
		    <div class='btn-group'>
			<button id="reboot-button" class='btn btn-info disabled'>Reboot</button>
		    </div>
		</div>
	    </div>
	    <div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
			<form id="rename-form" action="#" >
			    <div class="modal-header">
				<button id="rename-close" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Name</h4>
			    </div>
			    <div class="modal-body">
				<div class='form-group' >
				    <label class="control-label" for="rename-name">Name:</label>
				    <input id="rename-name" class="form-control" type="text" />
				</div>
			    </div>
			    <div class="modal-footer">
				<input id="rename-submit" type="submit" class="btn btn-success" value="Save" />
				<button id="rename-cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			    </div>
			</form>
		    </div>

		</div>
	    </div>
	</div>
    </body>
</html>
